---
  extends:
    - airbnb
  # ============================================================================
  # Rule - extensions
  # ============================================================================
  rules:
    func-names: 0
    no-underscore-dangle: 0
    valid-jsdoc:
      - 1
      -
        requireParamDescription: true
        requireReturnDescription: true
        requireReturn: false
        prefer:
          return: "returns"
        preferType:
          String: "string"
          Number: "number"
          Boolean: "boolean"
          Bool: "boolean"
          array: "Array"
          object: "Object"
          function: "Function"
    require-jsdoc:
      - 1
      -
        require:
          FunctionDeclaration: true
          MethodDefinition: true
          ClassDeclaration: true

  # ============================================================================
  # Environment
  # ============================================================================
  env:
    es6: true
    mocha: true

  # ============================================================================
  # Globals
  # ============================================================================

  globals:
    inject: false
    sinon: false
    expect: false
    chai: false
